body{
    font-family: 'Adamina', serif;
    font-family: 'BioRhyme Expanded', serif;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size;:50px;
}
p{
    color:gray
}
.name-highlight{
    color:palevioletred;
    font-size: 50px;

}
.header-background{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.half-width{
    width: 40%;
    float: left;
    margin: 0px 60px 0px 60px;
   padding-left: 5px;
}
.half-width img{
    width: 100%;
}
section{
    height:500px;
    margin:20px;
    padding-left: 5px;
    
}
.link-button{
    text-decoration: none;
    background-color:palevioletred ;
    background-image:linear-gradient(180deg, pink, palevioletred);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.biography-background{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    margin: 0px;
}

.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat:no-repeat;
    background-position:center;
    
}

.middle-text{
    text-align:center;

    margin-left: 550px;
}
.middle-text:hover{
    background-color: lightcoral;
}

.image-position img{
     width:400px ;
     margin: 5px;
     padding: 2px 2px;
     float: left;
}
.footer-background{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}
#button{
    background-color:palevioletred ;
    background-image:linear-gradient(180deg, pink, palevioletred);
    padding: 10px 20px;
    border: 10px;
    color: white;
    margin: 0px 470px 0px 470px;
    padding: 10px 10px;
    border-radius: 20px;
}
footer{
    text-align: center;
}

